<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dubbomybatisprovider.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.api.Pojo.Goods">
        <result column="id" property="id" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_title" property="goodsTitle" />
        <result column="goods_img" property="goodsImg" />
        <result column="goods_detail" property="goodsDetail" />
        <result column="goods_price" property="goodsPrice" />
        <result column="goods_stock" property="goodsStock" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,goods_name, goods_title, goods_img, goods_detail, goods_price, goods_stock
    </sql>
    <cache-ref namespace="com.example.dubbomybatisprovider.mapper.GoodsMapper"/>
    <select id="getList" resultType="com.example.api.Pojo.Goods">
        SELECT *FROM goods
    </select>
    <select id="listGoodsVo" resultType="com.example.api.Pojo.GoodsVo">
        SELECT
            g.id,
            g.goods_name,
            g.goods_title,
            g.goods_img,
            g.goods_detail,
            g.goods_price,
            g.goods_stock
        FROM
            goods g
    </select>
    <select id="findById" resultType="com.example.api.Pojo.Goods">
        SELECT * FROM goods where id =#{id}
    </select>
    <select id="findById2" resultType="com.example.api.Pojo.GoodsVo">
        SELECT
            g.*,
            g.goods_price,
            g.goods_stock
        FROM
            goods g
        WHERE
              id =#{id}
    </select>
    <update id="updateNumById">
        UPDATE goods
        SET goods_stock = goods_stock - 1
        WHERE
            id = #{id}

    </update>



</mapper>
